.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
    background-color: $secondary;
    border-radius: 5px;
    @include breakpoint ($mobile-bp) {
        padding: 1.5rem;
    }
    &__form {
        display: flex;
        align-items: center;
        &-actions {
            width: 12rem;
            flex-shrink: 0;
            display: flex;
            justify-content: flex-end;
            @include breakpoint ($mobile-bp) {
                width: 9rem;
            }
        }
    }
    &__textarea {
        display: block;
        flex-grow: 1;        height: 26px;
        border: none;
        background: transparent;
        resize: none;
        font-family: inherit;
        font-size: 1.5rem;
        color: $white;
        overflow: hidden;
        &::placeholder {
            color: #D2D2D2;
        }
    }
    &__file, &__send {
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        border: none;
        cursor: pointer;
        border-radius: 50%;

        transition: background-color .2s linear;
        @include breakpoint ($mobile-bp) {
            width: 3.4rem;
            height: 3.4rem;
        }
    }
    &__file {
        background: #EBEBEB url('../images/icon-file.svg') center no-repeat;


        input {
            display: none;
        }
        &:hover {
            background-color: darken(#EBEBEB,5%);
        }
        @include breakpoint ($mobile-bp) {
            background-size: 18px;
        }
    }

    &__send {
        background: $blue url('../images/send.svg') center no-repeat;
        margin-left: 1.5rem;
        background-color: $blue;
        padding: 0;
        font-size: 0;
        color:transparent;
        &:hover {
            background-color: darken($blue,5%);
        }
        @include breakpoint ($mobile-bp) {
            background-size: 40px;
        }
    }
}
