.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    @include breakpoint($tablet-bp) {
        margin-top: 5rem;
    }
    &__item {
        margin: 0 .5rem;
    }

    &__link {
        display: block;
        width: 4rem;
        height: 4rem;
        background-color: #0D0D0D;
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

        text-align: center;
        color:$white;
        font-size: 1.4rem;
        line-height: 4rem;
        text-decoration: none;
        transition: background-color .2s linear;
        &:hover {
            background-color: lighten($color: #0D0D0D, $amount: 2%);
        }

        &.active {
            background-color: $blue;
            box-shadow: 0px 0px 10px rgba($blue, 0.15);
        }
    }
}
