<div class="modal" id="share-modal">
    <div class="modal__content modal__content--contact">
        <span class="modal__close"></span>
        <ul class="social social--visible">
            <div class="social__item">
                <a href="" class="social__link">
                    <img src="assets/images/share/facebook.svg" alt="facebook">
                </a>
            </div>
            <div class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/twitter.svg" alt="twitter">
                </a>
            </div>
            <div class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/vk-2.svg" alt="vkontakte">
                </a>
            </div>
            <div class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/share/copy.svg" alt="copy">
                </a>
            </div>
        </ul>
    </div> 
</div>